@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  overflow-x: hidden;
  padding-top: 56px;
}

/*-----Navigation bar----*/

nav {
  color: #f1f1f1;
  background-color: #C6A898;
}
.navbar-brand {
  height: 2rem;
  color: #f2f2f2;
  font-family: inherit;
  font-size: 32px;
  padding-bottom: 30px;
}

.toptitle {
  list-style: none;
}



/*------Landing Page----*/

.home-area {
  background-attachment: fixed;
  background: url('../../images/landing.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

#titlepg {

  margin-top: 45%;
  font-size: 96px;
  color: #C6A898;
  text-shadow: 1px 1px 2px black;
  position: center center;
}



#buttonpg {
  background-color: #f2f2f2;
  color: #5C3C2A;
  border-color: #f2f2f2;
  font-weight: bold;
  position: center center;
  margin-top: 10%;
  margin-left: 30%;

}


/*--------------About Us----------*/

.about-us {
  background-color: #C6A898;
  margin: 0px;


}

.about {
  margin: 30px;
}

.about h1 {
  top: 35%;
  text-align: center;
  color: #5C3C2A;
  font-size: 48px;
  margin-bottom: 40px;
  padding: 30px;

}

.description p {
  text-align: left;
  font-size: 24px;
  color: #5C3C2A;

}

.details {

  bottom: 0;
  padding-top: 10%;
  font-size: 1rem;

}

.details p {
  text-align: left;
  color: #5C3C2A;


}

#about {
  background-image: url(' ../../images/aboutus.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px;
}

/*------------------Massage---------------*/

#massage {
  background-color: #BCBABA;
  color: #f2f2f2;
  margin: 0px;
}

#masstop {
  margin: 30px;
}

.titlemass {
  font-size: 48px;
  color: #f2f2f2;
  text-align: center;
}

#secondline {
  font-size: 20px;
  color: #f2f2f2;
  text-align: center;
}

.progress-bar {
  background-color: #725646;

}

tbody {
  font-weight: normal;
  font-size: 36px;
  color: #f2f2f2;
}

thead {
  font-size: 36px;
  color: #f2f2f2;
}

.cover {
  background-image: url('../../images/massagepic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px;
}


/*------------Bathing---------*/

bathing {
  margin: 0px;
}

#hero-bath {
  background-image: url('../../images/bath.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

#hero-overlay-bath {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.titlebath {
  font-size: 48px;
  text-align: center;
  color: #f2f2f2;
  margin: 30px;
  padding: 30px;
}

.couple {
  color: #f2f2f2;
  font-size: 30px;
}

.single {
  color: #f2f2f2;
  font-size: 30px;
}

.bottom {
  color: #f2f2f2;
  font-size: 24px;
  padding-top: 100px;
  text-align: !important;
}

/*-----------Offer----------*/

offer {
  margin: 0px;
}

#top {
  font-size: 40px;
  color: #5C3C2A;
  text-align: center;
  padding-top: 15%;


}

#secondtop {
  font-size: 40px;
  color: #B7927E;
  text-align: center;
}

#bottom {
  font-size: 24px;
  color: #5C3C2A;
  text-align: center;
  font-weight: bold;
  padding-top: 15%;
}

#signplus {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 40%;
}


#hero-offer {
  background-image: url('../../images/backgroundflwr.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

/*----------Form----------*/

form {
  margin: 0px;
}

#hero-cal {
  background-image: url('../../images/calendar.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

#hero-overlay-cal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: -5;
}

form {
  padding: 15%;

}


.formt {
  color: #f2f2f2;
  font-size: 48px;
  padding-top: 15%;
  text-align: center;
}

.form-group {
  color: #f2f2f2;
  font-size: 30px;
  text-align: left;
  margin-top: 30px;

}

#buttonform {
  background-color: #f2f2f2;
  color: #5C3C2A;
  border-color: #f2f2f2;
  position: center center;
  margin-top: 10%;
  margin-left: 30%;
}

/*--------Footer------*/

#icons {
  
  color: #f1f1f1;
  background-color: #C6A898;
  position: center center;
  







}
