@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  overflow-x: hidden;
  padding-top: 56px;
}

/*-----Navigation bar----*/

nav {
  color: #f1f1f1;
  background-color: #C6A898;
}

.navbar-brand {
  height: 2rem;
  color: #f2f2f2;
  font-family: segoe print;
  font-size: 32px;
  padding-bottom: 30px;
}

.toptitle {
  list-style: none;
}



/*------Landing Page----*/

.home-area {
  background-attachment: fixed;
  background: url('../../images/landing.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

.home-text {
  margin: 0 auto;
  text-align: center;
}

#titlepg {

  margin-top: 45%;
  font-size: 84px;
  color: #C6A898;
  text-shadow: 1px 1px 2px black;

}



#buttonpg {
  background-color: #f2f2f2;
  color: #5C3C2A;
  border-color: #f2f2f2;
  font-weight: bold;
  margin-top: 40%;
  margin-left: 30%;

}

@media only screen and (min-width: 768px) {
  #home-text {
    padding: 20px;
    margin-top: 30%;
  }

  #buttonpg {
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 50%;
    width: 8em;
    height: 3em;
    font-size: 36px;

  }


  /*--------------About Us----------*/
  .about-us {
    background-color: #C6A898;
    margin: 0px;


  }

  .about {
    margin: 30px;
  }

  .important {
    padding: 30px 30px 20px;
    text-align: center;
    color: #5C3C2A;
    font-size: 48px;
    line-height: 44px;
  }

  .description p {
    padding: 0px 30px 20px;
    text-align: left;
    font-size: 24px;
    color: #5C3C2A;
    line-height: 24px;

  }

  .details {

    bottom: 0;
    padding-top: 10%;
    font-size: 1rem;

  }

  .details p {
    text-align: left;
    color: #5C3C2A;

  }

  #about {
    background-image: url(' ../../images/aboutus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
  }

  @media only screen and (min-width: 768px) {
    .important {
      margin-bottom: 90px;
    }


    .description p {
      line-height: 36px;

    }


    /*------------------Massage---------------*/
    #massage {
      background-color: #BCBABA;
      color: #f2f2f2;
      margin: 0px;
    }

    #masstop {
      margin: 30px;
    }

    .titlemass {
      font-size: 48px;
      color: #f2f2f2;
      text-align: center;
    }

    #secondline {
      font-size: 20px;
      color: #f2f2f2;
      text-align: center;
    }

    .containerlist {
      width: 100%;
      height: 100%;
      font-size: 24px;
      line-height: 70px;
    }

    .progress-bar {
      background-color: #725646;

    }

    tbody {
      font-weight: normal;
      font-size: 36px;
      color: #f2f2f2;
    }

    thead {
      font-size: 36px;
      color: #f2f2f2;
    }

    .cover {
      background-image: url('../../images/massagepic.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      padding: 30px;
    }

    @media only screen and (min-width: 768px) {

      #masstop {
        width: 100%;
      }

      .container {
        line-height: 36px;
        width: 100%;
      }

      .titlemass {
        font-size: 48px;

        text-align: center;
        margin-bottom: 90px;
      }

      #secondline {
        font-size: 24px;
        margin-bottom: 100px;
      }

      /*------------Bathing---------*/
      bathing {
        margin: 0px;
      }

      #hero-bath {
        background-image: url('../../images/bath.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: -10;
      }

      #hero-overlay-bath {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: -5;
      }

      .titlebath {
        font-size: 48px;
        text-align: center;
        color: #f2f2f2;
        margin-top: 70px;
      }

      .couple {
        color: #f2f2f2;
        font-size: 30px;
      }

      .single {
        color: #f2f2f2;
        font-size: 30px;
      }

      .bottom {
        color: #f2f2f2;
        font-size: 24px;
        padding-top: 100px;

      }

      @media only screen and (min-width: 768px) {
        .titlebath {
          margin-top: 200px;
        }

        #textbath {
          padding: 200px 100px 200px;
        }

        .bottom {
          padding: 250px;
          font-size: 24px;
        }
      }

      /*-----------Offer----------*/
      offer {
        margin: 0px;
      }

      #top {
        font-size: 40px;
        color: #5C3C2A;
        text-align: center;
        padding-top: 15%;


      }

      #secondtop {
        font-size: 40px;
        color: #B7927E;
        text-align: center;
      }

      #bottom {
        font-size: 24px;
        color: #5C3C2A;
        text-align: center;
        font-weight: bold;
        padding-top: 25%;
      }

      #signplus {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        padding-top: 40%;
      }


      #hero-offer {
        background-image: url('../../images/backgroundflwr.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: -10;
      }

      .row {
        display: flex;
      }

      .column {
        flex: 50%;
        padding: 5px;
      }

      @media only screen and (min-width: 768px) {
        #top {
          padding-top: 200px;
        }

        #roundpics {
          padding-top: 200px;
          padding-left: 50px;
          padding-right: 50px;
        }

        #secondtop {
          font-size: 40px;
          margin-top: 30px;
        }
      }


      /*----------Form----------*/
      form {
        margin: 0px;
      }

      #hero-cal {
        background-image: url('../../images/calendar.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: -10;
      }

      #hero-overlay-cal {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: -5;
      }

      form {
        padding: 15%;

      }


      .formt {
        color: #f2f2f2;
        font-size: 48px;
        padding-top: 15%;
        text-align: center;
      }

      .form-group {
        color: #f2f2f2;
        font-size: 30px;
        text-align: left;
        margin-top: 30px;

      }

      #buttonform {
        background-color: #f2f2f2;
        color: #5C3C2A;
        border-color: #f2f2f2;
        margin-top: 10%;
        margin-left: 30%;
      }

      @media only screen and (min-width: 768px) {

        #buttonform {
          margin-left: 30%;
          margin-right: 30%;
          margin-bottom: 50%;
          margin-top: 20%;
          width: 6em;
          height: 2em;
          font-size: 36px;
          font-weight: bold;

        }

        .formt {
          padding-top: 200px;

        }
      }

      /*--------Footer------*/
      #footerpg {
        width: 100%;
        background-color: #C6A898;

      }

      #icons {
        color: #f1f1f1;
        background-color: #C6A898;
      }
      
      #socialmedia {
       margin-left: 340px; 
      }
